<div class="col-md-2">
  <%= render "shared/sidebar"%>
</div>
<div class="col-md-7">
  <div style="margin-top:15px;height:262px;">
      <%= link_to @article.url, :target => "_blank" do %>
        <%= image_tag(@article.photo.url(:large), style:"height:262px;") %>
      <% end %>
  </div>
  <div class="col-md-12" style="height:184px;background-color:white;">
    <%= link_to @article.url, :target => "_blank" do %>
      <h1><%= @article.title %></h1>
      <div style="text-align:center;">
        <%= button_to "Continue Reading", @article.url, class:"btn btn-primary", form: {target: '_blank'} %>
      </div>
    <% end %>
  </div>
  <div class="col-md-12" style="height:184px;background-color:white;margin-top:50px;">

    <div style="padding-top:10px;">
        <div class="col-md-1" style="float:left;">
          <%= image_tag(current_user.profile_photo.url(:square), style:"height:40px;")%>
        </div>
        <%= form_for(@comment) do |f| %>
          <%= f.hidden_field :article_id, :value => @article.id %>
          <div class="col-md-4 field" style="float:left;">
            <%= f.text_field :comment %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-3">
  <% @articles.map do |object| %>
    <%= render "shared/articles", object:object%>
  <% end %>
</div>
