<div class="row" style="border-bottom:1px solid #ccc;background-color:#FFFFFF;">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 block-center" style="height:140px;">
    <div class="col-md-12" style="height:80px;margin-top:30px;">
      <div class="col-md-2">
        <%= image_tag(@user.profile_photo.url(:square),style:"display:block;width:80px;height:80px;border-radius: 40px;-webkit-border-radius: 40px;-moz-border-radius: 40px;")%>
      </div>
      <div class="col-md-10">
        <div>
          <h5><%= @user.name %></h5>
          <h5><%= @user.email %></h5>
          <% unless current_user?(@user) %>
            <div id="follow_form_<%= @user.id %>" style="float:right;">
            <% if current_user.following?(@user) %>
              <%= render 'users/unfollow',object: @user %>
            <% else %>
              <%= render 'users/follow',object: @user %>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
<!-- pick follow followed -->
<div class="row" style="background-color:#FFFFFF;">
    <div class="col-md-2">
    </div>
    <div class="col-md-8" style="height:55px;text-align:center;">
      <div class="col-md-1" style="text-align:center;margin:auto 0 auto 0;">
        <%= link_to user_path(current_user,key:"current_user") do %>
          <div style="font-weight:700;margin:15px 3px 2px 3px;;">PICK</div>
            <% if @key == "current_user"%>
              <div style="border-bottom: 5px solid #f4bd6b;"></div>
            <% end %>
          <% end %>
        </div>
      <div class="col-md-1">
        <%= link_to user_path(current_user, key:"followed_users") do %>
          <div style="font-weight:700;margin:7px 3px 2px 3px;">
            <%= current_user.followed_users.count :style => 'color: #3366FF;'%>
          </div>
          <div>following</div>
          <% if @key == "followed_users"%>
            <div style="border-bottom: 5px solid #f4bd6b;"></div>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-1">
        <%= link_to user_path(current_user, key:"followers") do %>
          <div style="font-weight:700;margin:7px 3px 2px 3px;">
            <%= current_user.followers.count :style => 'color: #3366FF;'%>
          </div>
          <div>followed</div>
          <% if @key == "followers"%>
            <div style="border-bottom: 5px solid #f4bd6b;"></div>
        <% end %>
      <% end %>
      </div>
    </div>
</div>
<!-- articles. users -->
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <% if @key == "followed_users"%>
        <% @user.followed_users.map do |object|%>
          <%= render 'shared/following', object: object %>
        <% end %>
      <% elsif @key == "followers" %>
        <% @user.followers.map do |object|%>
          <%= render 'shared/following', object: object %>
        <% end %>
      <% else%>
        <% @user.articles.map do |object|%>
          <div class="col-md-4">
            <%= render 'shared/one_content', object:object%>
          </div>
        <% end %>
      <% end %>
    </div>
</div>