<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- 2.ヘッダ情報 -->
        <div class="navbar-header">
            <a class="navbar-brand">Title</a>
        </div>
        <!-- 3.リストの配置 -->
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Articles</a></li>
            <li><%= link_to "New", new_article_path %></li>
        </ul>
        <!-- 4.ボタン -->
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-envelope"></span>
        </button>
    </div>
</nav>
      <br>
      <br>
      <br>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-2" style="background-color:black;">
          <%= render "shared/sidebar"%>
        </div>
        <div class="col-md-10">
          <%= render "shared/main_content"%>
        </div>
      </div>
    </div>
  </body>
</html>