<!DOCTYPE html>
<html>
<head>
  <title>NewSeeker</title>
  <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body style="background-color:#EFEFEF;">
<!-- モーダル内容 -->
<!-- <div id="sign_in_modal" class ="modal fade" aria-hidden="true" aria-labelledby="modal_label" role="dialog" style="display: none; " tabindex="-1"></div> -->
<div id="show_modal" class ="modal fade" aria-hidden="true" aria-labelledby="modal_label" role="dialog" style="display: none; " tabindex="-1"></div>
<div id="sign_up_modal" class ="modal fade" aria-hidden="true" aria-labelledby="modal_label" role="dialog" style="display: none; " tabindex="-1"></div>
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- 2.ヘッダ情報 -->
        <div class="navbar-header" style="margin-left:auto;margin-right:auto;">
          <div class="navbar-brand">
              <%= link_to "Title", root_path %>
          </div>
        </div>

        <!-- 3.リストの配置 -->
        <ul class="nav navbar-nav navbar-right">
            <li style= "display:inline;padding-top:10px;">
              <%= form_tag(search_result_articles_path, :method => "get", class: "form-horizontal",id: "search-form" ) do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
                <%= submit_tag 'search', class:"btn btn-success", type:"submit" %>
              <% end %>
            </li>
            <% if user_signed_in? %>
              <div class="dropdown btn-group" >
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" >
                  <% if current_user.profile_photo.url.include?("original/fa-user.png")%>
                    <i class="fa fa-user fa-2x" style="padding-right:5px;margin-top:5px;color:white;"></i>
                  <% else %>
                    <%= image_tag(current_user.profile_photo.url(:square),class:"round-picture",style:"height:28px;") %>
                  <% end %>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to current_user.name, user_path(current_user, key:"current_user") %></li>
                  <li><%= link_to "Settings", edit_user_registration_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                </ul>
              </div>
              <%= link_to new_article_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#show_modal'} do %>
                <i class="fa fa-newspaper-o " style="color:white;"></i>
              <% end %>
            <% else %>
                <li>
                  <%= link_to "SignUp/LogIn", new_user_registration_path, remote: true, 'data-toggle' => "modal",
                  'data-target'=> '#sign_up_modal'%>
                </li>
            <% end %>
        </ul>
    </div>
  </nav>
  <div class="row-fluid" style="padding-top:50px;">
    <%= yield %>
  </div>
</body>
</html>
